{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="my-5">
        <h2>Your Cart</h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cart in carts %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ cart.item.name }}</td>
                <td>
                    <a class="mr-2" href="{% url 'cart:decrease-cart' cart.item.slug %}">
                      <span class="badge badge-light"><i class="fa fa-minus"></i></span>
                    </a>
                    {{ cart.quantity }}
                    <a class="ml-2" href="{% url 'cart:increase-cart' cart.item.slug %}" >
                      <span class="badge badge-light"><i class="fa fa-plus"></i></span>
                    </a>
                </td>
                <td>{{ cart.get_total_item_price }} </td>
                <td>
                    <a href="{% url 'cart:remove-from-cart' cart.item.slug %}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td colspan="2"><b>Total</b></td>
                <td>{{ order.get_totals }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td colspan="3" class="text-right ">
                    <a class="btn btn-warning mr-4" href="{% url 'products:product-list' %}">Continue Shoping</a>
                    <a href="" class="btn btn-success mr-4 text-light">Proceed To Checkout</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
    