{% extends 'base.html' %}

{% block title %}
    Addresses - {{ block.super }}
{% endblock title %}

{% block content %}
    {% if object_list %}
        <h2>List of your addresses:</h2>

        {% for address in object_list %}
            <div class="lead pt-4">
                <div class="card">
                    <div class="card-body">
                        {{ address.user.name }}<br>
                        {{ address.zip_code }}<br>
                        {{ address.city }}<br>
                        {{ address.country }}<br>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'accounts:address-update' address.pk %}" class="btn btn-secondary">Update Address</a>
                        <a href="{% url 'accounts:address-delete' address.pk %}" class="btn btn-danger">Delete Address</a>
                        <a href="{% url 'accounts:address-create' %}" class="btn btn-primary">Add Address</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>You have no addresses yet.</h2>
    {% endif %}

{% endblock content %}
