<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="/">BookTime</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item
                {% if request.path == '/' %}
                    active
                {% endif %}
                ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item
            {% if request.path == '/products/all/' %}
                active
            {% endif %}
            ">
                    <a class="nav-link" href="{% url 'main:product-list' tag='all' %}">Products</a>
                </li>
                <li class="nav-item
            {% if request.path == '/about/' %}
                active
            {% endif %}
            ">
                    <a class="nav-link" href="{% url 'main:about' %}">About</a>
                </li>
                <li class="nav-item
            {% if request.path == '/contact/' %}
                active
            {% endif %}
            ">
                    <a class="nav-link" href="{% url 'main:contact' %}">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item
                {% if request.path == '/basket/' %}
                    active
                {% endif %}
                ">
                    <a class="nav-link" href="{% url 'main:manage-basket' %}">
                        Basket
                        {% if request.basket %}
                        <span class="badge badge-primary">
                            {{ request.basket.count }}
                        </span>
                        {% endif %}
                    </a>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item
            {% if request.path == '/accounts/logout/' %}
                active
            {% endif %}
            ">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item
            {% if request.path == '/accounts/login/' %}
                active
            {% endif %}
            ">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item
            {% if request.path == '/accounts/signup/' %}
                active
            {% endif %}
            ">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
                </li>
                {% endif %}

            </ul>

        </div>
    </div>
</nav>
