{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>
    {% block title %}
    BookTime
    {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>

<body>

  {% include 'base_nav.html' %}

  {% if messages %}
    {% for message in messages %}
    <div class="container alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}

  <div class="container my-3">

    <div class="pb-3">
      {% if request.basket %}
        {% if request.basket.count %}
          {{ request.basket.count }} item(s) in basket
        {% else %}
          No item(s) in basket
        {% endif %}
      {% endif %}
    </div>

    {% block content %}

    {% endblock content %}

  </div>

  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {% block js %}

  {% endblock js %}

</body>
</html>
