{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ product.name }} | Product Detail | {{ block.super }}
{% endblock title %}

{% block content %}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="{% url 'main:product-list' tag='all' %}">
    Products
  </a>
  <span class="breadcrumb-item active">{{ product.name|capfirst }}</span>
</nav>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{ product.name | capfirst }}</td>
    </tr>
    <tr>
      <th scope="row">Cover Images</th>
      <td>
        {% for image in product.productimages.all %}
        <img src="{{ image.thumbnail.url }}" alt="Cover">
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td>{{ product.price | intcomma }}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{ product.description | linebreaks }}</td>
    </tr>
    <tr>
      <th scope="row">Tags</th>
      <td>
        {% for tag in product.tags.all %}
        <a href="{% url 'main:tag-detail' tag.slug %}" class="btn btn-secondary">
          {{ tag }}
        </a>
        {% empty %}
        No tags available
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th scope="row">In Stock</th>
      <td>{{ product.in_stock | yesno | capfirst }}</td>
    </tr>
    <tr>
      <th scope="row">Updated On</th>
      <td>{{ product.date_updated | date:"F Y" }}</td>
    </tr>
  </tbody>
</table>
<hr>

<div class="d-flex mt-3">
  <a href="{% url 'main:product-list' tag='all' %}" class="btn btn-primary">
    View More Products
  </a>
  <a href="{% url 'main:add-to-basket' %}?product_id={{ product.id }}" class="btn btn-success ml-2">
    Add to Basket
  </a>
</div>
{% endblock content %}
