{% extends 'base.html' %}

{% block title %}Products List - {{ block.super }}
{% endblock title %}

{% block content %}
    <h2>Products List</h2>

    {% for product in object_list %}
        <p>{{ product.name }}</p>
        <p>
            <a href="{% url 'main:product-detail' product.slug %}">See it here</a>
        </p>

        {% if not forloop.last %}
            <hr>
        {% endif %}

    {% empty %}
        <p>
            No products yet. Please, check again later.
        </p>
    {% endfor %}

    {% if is_paginated %}
    <nav>
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link">Previous</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active">
                    <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                    <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link">Next</a>
                </li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}

{% endblock content %}
